In [2]:
import pandas as pd

# read the dat from a csv file into a pandas dataframe
# the data is monthly rainfall totals for Irish weather stations
# since 1958 to 2015
# I have come across this dataset previously. 
tr = pd.read_csv('data/totalrainfall.csv')

# convert the date column to datetime format to use datetime functions
tr['date'] = pd.to_datetime(tr['date'], format='%Y-%m')

# set this column as the dataframe index and del the original date column
tr.index=tr.date
del tr['date']

# display the first few rows
tr.head()
#tr.describe()

,Belmullet,Birr,Cahirciveen,Casement,Claremorris,Clones,Cork airport,Dublin airport,Galway,Kilkenny,Malin head,Mullingar,Roches Point,Rosslare,Shannon airport
date,,,,,,,,,,,,,,,
1958-01-01,160.2,95.6,214.8,..,146.9,104.8,..,40.0,..,116.4,127.2,109.4,120.7,102.5,115.6
1958-02-01,75.2,85.6,130.8,..,98.3,97.1,..,101.6,..,87.6,143.2,82.0,107.1,119.7,92.8
1958-03-01,86.4,40.9,133.5,..,82.3,33,..,23.4,..,33.9,45.6,34.1,133.8,68.4,52.0
1958-04-01,30.6,37.5,40.6,..,37.4,30.4,..,29.9,..,28,52.3,25.7,13.3,18.1,30.2
1958-05-01,118.0,101.2,123.1,..,126.7,73,..,103.9,..,91.9,69.0,86.6,130.6,113,97.6

In [3]:
# create new column containing the month from the index
tr['month'] = tr.index.month
# new dataframe grouping each column by month and displaying the mean for that month
by_month = tr.groupby('month').mean()
by_month

,Belmullet,Cahirciveen,Dublin airport,Malin head,Mullingar,Shannon airport
month,,,,,,
1,128.789655,173.136207,65.629310,115.946552,92.898276,99.913793
2,88.834483,125.805172,51.232759,84.362069,68.998276,75.381034
3,90.820690,118.043103,51.874138,81.218966,68.453448,70.294828
4,66.985965,90.757895,52.135088,62.545614,64.868421,59.508772
5,73.161404,92.321053,58.787719,60.721053,69.771930,64.238596
6,71.154386,89.066667,61.996491,69.891228,71.270175,67.326316
7,73.838596,93.582456,57.666667,77.907018,72.410526,65.464912
8,94.833333,107.459649,71.915789,89.778947,81.173684,81.349123
9,102.701754,123.312281,66.207018,96.529825,81.612281,79.107018
10,131.868421,162.263158,77.428070,115.587719,99.447368,96.373684
11,132.363158,168.710526,71.852632,115.289474,92.298246,99.659649
12,131.977193,164.914035,74.170175,115.857895,95.663158,106.703509